body {
	background-color: #B2B2B2;
}

body > header > h1, nav {
	text-align: center;
}

header {
	color: #FFFFD9;
	font-size: 20px;
}

li {
	list-style-type: none;
	font-weight: bold;
}

ul > li:last-child {
	text-decoration: underline;
	color: white;
}

footer {
	text-align: center;
}

a {
	text-decoration:none;
	color: white;
}

nav a:hover {
	background-color: #E2E2E2;
}

footer > p > a {
	color: black;

}
 footer > p {
text-align: left;
}

footer {
	font-size: 14px;
}
